*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: medium;
}
.Search{
    display: flex;
    justify-content: center;
    
}

.Search input{
    height: 3em;
    width: 20em;
    text-align: center;
    border-color: rgb(40, 92, 137);
    border-style: solid;
    border-radius: 2em;

    
}

.Search button{
    height: 3em;
    width: 6em;
    border: none;
    border-radius:2em;
    color: aliceblue;
    margin: 1em;
    cursor: pointer;
    background-color: rgb(40, 92, 137);
}
